Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 80
SortIncludes: true
AllowShortIfStatementsOnASingleLine: false
RemoveBracesLLVM: true
BraceWrapping:
  AfterControlStatement: false
